---
layout: default
---

<h1>{{ page.title | default: "Topics" }}</h1>

<div class="post-meta mb-3">
  <i class="far fa-folder-open fa-fw me-1"></i>

  {% assign base_path = '/topics/' %}
  
  {% for category in site.categories %}
    <a href="{{ site.baseurl }}{{ base_path }}{{ category[0] | slugify | url_encode }}/">
      {{ category[0] }}
    </a>
    {% unless forloop.last %}, {% endunless %}
  {% endfor %}
</div>

{% if page.description %}
  <p class="post-desc fw-light mb-4">{{ page.description }}</p>
{% endif %}

<div class="content">
  {{ content }}
</div>
